html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.App {
  text-align: center;

}

body {
  background-color: darkcyan;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.activeMessageList {
  display: inline-block;
  height: 60%;
  width: 60%;
  background-color: aqua
}

.activeRoom {
  background-color: blueviolet;
}

.roomList {
  float: left;
  width: 40%;
  height: 80vh;
  background-color: chartreuse;
}

#roomContainer {
  overflow: auto;
  height: 58%;
  padding-bottom: 1em;
  padding-top: 1em;
}

#roomsClickable {
  display: list-item;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#roomsClickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

#createRoom {
  background-color: yellow;
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: inherit;
}

#create-room-p {
  margin: 0;
}